#productInfo {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#productInfo img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.productInfo__card {
  display: flex;
  flex-direction: column;
  height: 88.6vh;
  padding: 35px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-position: center;
}

.productInfo__card h3 {
  font-size: 22px;
  text-align: left;
}

.productInfo__card h6 {
  font-size: 15px;
  color: rgb(218, 218, 218);
  font-weight: 500;

  margin: 8px 0;
  margin-bottom: 13px;
}

.productInfo__card h6 {
  cursor: pointer;
}

.productInfo__description p {
  max-width: 560px;
  margin-bottom: 20px;
  font-size: 100%;
}

.productInfo__purchase {
  display: flex;
  align-items: center;
}

.productInfo__purchase button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 12px;
  margin-left: 15px;
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.productInfo__purchase button:hover {
  transform: scale(1.02);
  cursor: pointer;
}
