#checkOut {
  border: 5px solid green;
  height: 60vh;
  display: flex;
}

.checkOut__itemsRow {
  width: 80%;
}

.checkOut__item {
  display: flex;
  margin: 10px 5px;
}

.checkOut__itemLeft {
  display: flex;

  min-width: 450px;
}

.checkOut__itemLeft div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.checkOut__item img {
  border-radius: 10px;
  height: 100px;
}
